In [21]:
# I am using 3.9.7.
import sys
print("Python Version is: " + sys.version)

Python Version is: 3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:48:03) [MSC v.1928 64 bit (AMD64)]

In [22]:
# importing libraries 
import pandas as pd
import numpy as np

# Ignore all warnings
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action='ignore', category=DeprecationWarning)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x) 
#pd.set_option('display.max_rows', None)

In [23]:
# Loading dataset labeled "Telecom Customer Churn" 
# Link: https://www.mavenanalytics.io/data-playground 

import time
time_begin = time.time()

df = pd.read_csv("telecom_customer_churn.csv")

print(f'Run time: {round(((time.time()-time_begin)/60), 3)} mins') 

# I like to print the time it takes to load a file

Run time: 0.001 mins

### Macro Exploring the Data

In [24]:
df.shape

(7043, 37)

In [25]:
df.head(4)

,CustomerID,Gender,Age,Married,NumberofDependents,City,ZipCode,Population,NumberofReferrals,TenureinMonths,Offer,PhoneService,AvgMonthlyLongDistanceCharges,MultipleLines,InternetService,InternetType,AvgMonthlyGBDownload,OnlineSecurity,OnlineBackup,DeviceProtectionPlan,PremiumTechSupport,StreamingTV,StreamingMovies,StreamingMusic,UnlimitedData,Contract,PaperlessBilling,PaymentMethod,MonthlyCharge,TotalCharges,TotalRefunds,TotalExtraDataCharges,TotalLongDistanceCharges,TotalRevenue,Churn,ChurnCategory,ChurnReason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,4498,2,9,NaN,Yes,42.39,No,Yes,Cable,16.00,No,Yes,No,Yes,Yes,No,No,Yes,One Year,Yes,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,31297,0,9,NaN,Yes,10.69,Yes,Yes,Cable,10.00,No,No,No,No,No,Yes,Yes,No,Month-to-Month,No,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,62069,0,4,Offer E,Yes,33.65,No,Yes,Fiber Optic,30.00,No,No,Yes,No,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,46677,1,13,Offer D,Yes,27.82,No,Yes,Fiber Optic,4.00,No,Yes,Yes,No,Yes,Yes,No,Yes,Month-to-Month,Yes,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction

In [26]:
df.info()
# we can see some columns have missing data. Lets check that out.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 37 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CustomerID                     7043 non-null   object
 1   Gender                         7043 non-null   object
 2   Age                            7043 non-null   int64
 3   Married                        7043 non-null   object
 4   NumberofDependents             7043 non-null   int64
 5   City                           7043 non-null   object
 6   ZipCode                        7043 non-null   int64
 7   Population                     7043 non-null   int64
 8   NumberofReferrals              7043 non-null   int64
 9   TenureinMonths                 7043 non-null   int64
 10  Offer                          3166 non-null   object
 11  PhoneService                   7043 non-null   object
 12  AvgMonthlyLongDistanceCharges  6361 non-null   float64
 13  MultipleLines                  6361 non-null   object
 14  InternetService                7043 non-null   object
 15  InternetType                   5517 non-null   object
 16  AvgMonthlyGBDownload           5517 non-null   float64
 17  OnlineSecurity                 5517 non-null   object
 18  OnlineBackup                   5517 non-null   object
 19  DeviceProtectionPlan           5517 non-null   object
 20  PremiumTechSupport             5517 non-null   object
 21  StreamingTV                    5517 non-null   object
 22  StreamingMovies                5517 non-null   object
 23  StreamingMusic                 5517 non-null   object
 24  UnlimitedData                  5517 non-null   object
 25  Contract                       7043 non-null   object
 26  PaperlessBilling               7043 non-null   object
 27  PaymentMethod                  7043 non-null   object
 28  MonthlyCharge                  7043 non-null   float64
 29  TotalCharges                   7043 non-null   float64
 30  TotalRefunds                   7043 non-null   float64
 31  TotalExtraDataCharges          7043 non-null   int64
 32  TotalLongDistanceCharges       7043 non-null   float64
 33  TotalRevenue                   7043 non-null   float64
 34  Churn                          7043 non-null   object
 35  ChurnCategory                  1869 non-null   object
 36  ChurnReason                    1869 non-null   object
dtypes: float64(7), int64(7), object(23)
memory usage: 2.0+ MB

In [27]:
df.isnull().sum()

CustomerID                          0
Gender                              0
Age                                 0
Married                             0
NumberofDependents                  0
City                                0
ZipCode                             0
Population                          0
NumberofReferrals                   0
TenureinMonths                      0
Offer                            3877
PhoneService                        0
AvgMonthlyLongDistanceCharges     682
MultipleLines                     682
InternetService                     0
InternetType                     1526
AvgMonthlyGBDownload             1526
OnlineSecurity                   1526
OnlineBackup                     1526
DeviceProtectionPlan             1526
PremiumTechSupport               1526
StreamingTV                      1526
StreamingMovies                  1526
StreamingMusic                   1526
UnlimitedData                    1526
Contract                            0
PaperlessBilling                    0
PaymentMethod                       0
MonthlyCharge                       0
TotalCharges                        0
TotalRefunds                        0
TotalExtraDataCharges               0
TotalLongDistanceCharges            0
TotalRevenue                        0
Churn                               0
ChurnCategory                    5174
ChurnReason                      5174
dtype: int64

In [28]:
df[df['MultipleLines'].isnull()].head(3)

,CustomerID,Gender,Age,Married,NumberofDependents,City,ZipCode,Population,NumberofReferrals,TenureinMonths,Offer,PhoneService,AvgMonthlyLongDistanceCharges,MultipleLines,InternetService,InternetType,AvgMonthlyGBDownload,OnlineSecurity,OnlineBackup,DeviceProtectionPlan,PremiumTechSupport,StreamingTV,StreamingMovies,StreamingMusic,UnlimitedData,Contract,PaperlessBilling,PaymentMethod,MonthlyCharge,TotalCharges,TotalRefunds,TotalExtraDataCharges,TotalLongDistanceCharges,TotalRevenue,Churn,ChurnCategory,ChurnReason
10,0017-DINOC,Male,47,No,0,Rancho Santa Fe,92091,1072,0,54,NaN,No,NaN,NaN,Yes,Cable,10.00,Yes,No,No,Yes,Yes,No,No,Yes,Two Year,No,Credit Card,45.20,2460.55,0.00,0,0.00,2460.55,Stayed,NaN,NaN
14,0019-GFNTW,Female,39,No,0,Los Olivos,93441,1317,0,56,NaN,No,NaN,NaN,Yes,DSL,19.00,Yes,Yes,Yes,Yes,No,No,No,Yes,Two Year,No,Bank Withdrawal,45.05,2560.10,0.00,0,0.00,2560.10,Stayed,NaN,NaN
16,0020-JDNXP,Female,52,Yes,1,Point Reyes Station,94956,1885,0,34,NaN,No,NaN,NaN,Yes,DSL,20.00,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,One Year,No,Credit Card,61.25,1993.20,0.00,0,0.00,1993.20,Stayed,NaN,NaN

In [29]:
df[df['StreamingMusic'].isnull()].head(3)

# We can see that when Internet Service = No then the Internet columns have NaN because it's not available.

,CustomerID,Gender,Age,Married,NumberofDependents,City,ZipCode,Population,NumberofReferrals,TenureinMonths,Offer,PhoneService,AvgMonthlyLongDistanceCharges,MultipleLines,InternetService,InternetType,AvgMonthlyGBDownload,OnlineSecurity,OnlineBackup,DeviceProtectionPlan,PremiumTechSupport,StreamingTV,StreamingMovies,StreamingMusic,UnlimitedData,Contract,PaperlessBilling,PaymentMethod,MonthlyCharge,TotalCharges,TotalRefunds,TotalExtraDataCharges,TotalLongDistanceCharges,TotalRevenue,Churn,ChurnCategory,ChurnReason
20,0023-UYUPN,Female,79,Yes,0,Ahwahnee,93601,1968,0,50,NaN,Yes,31.43,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Year,No,Bank Withdrawal,25.20,1306.30,0.00,0,1571.50,2877.80,Stayed,NaN,NaN
23,0030-FNXPP,Female,22,No,0,Keeler,93530,71,0,3,NaN,Yes,3.12,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Month-to-Month,No,Credit Card,19.85,57.20,0.00,0,9.36,66.56,Joined,NaN,NaN
24,0031-PVLZI,Female,34,Yes,0,Korbel,95550,155,0,4,Offer E,Yes,12.43,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Month-to-Month,No,Credit Card,20.35,76.35,0.00,0,49.72,126.07,Churned,Price,Long distance charges

In [30]:
df.describe(exclude = ['O']) 
# excludes object data types and describes them

,Age,NumberofDependents,ZipCode,Population,NumberofReferrals,TenureinMonths,AvgMonthlyLongDistanceCharges,AvgMonthlyGBDownload,MonthlyCharge,TotalCharges,TotalRefunds,TotalExtraDataCharges,TotalLongDistanceCharges,TotalRevenue
count,7043.00,7043.00,7043.00,7043.00,7043.00,7043.00,6361.00,5517.00,7043.00,7043.00,7043.00,7043.00,7043.00,7043.00
mean,46.51,0.47,93486.07,22139.60,1.95,32.39,25.42,26.19,63.60,2280.38,1.96,6.86,749.10,3034.38
std,16.75,0.96,1856.77,21152.39,3.00,24.54,14.20,19.59,31.20,2266.22,7.90,25.10,846.66,2865.20
min,19.00,0.00,90001.00,11.00,0.00,1.00,1.01,2.00,-10.00,18.80,0.00,0.00,0.00,21.36
25%,32.00,0.00,92101.00,2344.00,0.00,9.00,13.05,13.00,30.40,400.15,0.00,0.00,70.55,605.61
50%,46.00,0.00,93518.00,17554.00,0.00,29.00,25.69,21.00,70.05,1394.55,0.00,0.00,401.44,2108.64
75%,60.00,0.00,95329.00,36125.00,3.00,55.00,37.68,30.00,89.75,3786.60,0.00,0.00,1191.10,4801.15
max,80.00,9.00,96150.00,105285.00,11.00,72.00,49.99,85.00,118.75,8684.80,49.79,150.00,3564.72,11979.34

In [31]:
df.describe(include = ['O'])
# Includes object data types and describes them

,CustomerID,Gender,Married,City,Offer,PhoneService,MultipleLines,InternetService,InternetType,OnlineSecurity,OnlineBackup,DeviceProtectionPlan,PremiumTechSupport,StreamingTV,StreamingMovies,StreamingMusic,UnlimitedData,Contract,PaperlessBilling,PaymentMethod,Churn,ChurnCategory,ChurnReason
count,7043,7043,7043,7043,3166,7043,6361,7043,5517,5517,5517,5517,5517,5517,5517,5517,5517,7043,7043,7043,7043,1869,1869
unique,7043,2,2,1106,5,2,2,2,3,2,2,2,2,2,2,2,2,3,2,3,3,5,20
top,0002-ORFBO,Male,No,Los Angeles,Offer B,Yes,No,Yes,Fiber Optic,No,No,No,No,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,Stayed,Competitor,Competitor had better devices
freq,1,3555,3641,293,824,6361,3390,5517,3035,3498,3088,3095,3473,2810,2785,3029,4745,3610,4171,3909,4720,841,313

### Data Cleaning

In [32]:
# A preference of mine is to replace binary columns with 1,0. 
df['Churn']=df['Churn'].replace('Joined', 'Stayed')
df['Churn']=df['Churn'].replace(['Stayed','Churned'], [0,1])
df['Married']=df['Married'].replace(['Yes','No'],[1,0])
df['Gender'] = df['Gender'].replace(['Female','Male'],[0,1]) # 1 = male, # 0 = female
df['PaperlessBilling']=df['PaperlessBilling'].replace(['Yes','No'],[1,0])
df['InternetService']=df['InternetService'].replace(['Yes','No'],[1,0])
df['PhoneService']=df['PhoneService'].replace(['Yes','No'],[1,0]) #1 = Yes, 0 = No


# Filling these specifically with 0 rather than the mean because it's already a "avg".
df['AvgMonthlyGBDownload'] = df['AvgMonthlyGBDownload'].fillna(0)
df['AvgMonthlyLongDistanceCharges'] = df['AvgMonthlyLongDistanceCharges'].fillna(0)

In [33]:
# Filling all na fields that contain text with "unknown" rather than delete or remove them from the datset.

cols_to_change= ['ChurnCategory','ChurnReason', 'UnlimitedData','StreamingMusic',
                  'StreamingMovies','StreamingTV','PremiumTechSupport','DeviceProtectionPlan'
                  ,'OnlineSecurity','OnlineBackup','InternetType','MultipleLines']

df[cols_to_change]=df[cols_to_change].fillna('Unknown')

In [34]:
df['Offer'] = df['Offer'].fillna('None')

In [35]:
# Double checking my work to ensure they are all zero for NULLS
df.isnull().sum()

CustomerID                       0
Gender                           0
Age                              0
Married                          0
NumberofDependents               0
City                             0
ZipCode                          0
Population                       0
NumberofReferrals                0
TenureinMonths                   0
Offer                            0
PhoneService                     0
AvgMonthlyLongDistanceCharges    0
MultipleLines                    0
InternetService                  0
InternetType                     0
AvgMonthlyGBDownload             0
OnlineSecurity                   0
OnlineBackup                     0
DeviceProtectionPlan             0
PremiumTechSupport               0
StreamingTV                      0
StreamingMovies                  0
StreamingMusic                   0
UnlimitedData                    0
Contract                         0
PaperlessBilling                 0
PaymentMethod                    0
MonthlyCharge                    0
TotalCharges                     0
TotalRefunds                     0
TotalExtraDataCharges            0
TotalLongDistanceCharges         0
TotalRevenue                     0
Churn                            0
ChurnCategory                    0
ChurnReason                      0
dtype: int64

### Data Exploration

In [36]:
df['Churn'].value_counts()
# 0 = did not exit

Churn
0    5174
1    1869
Name: count, dtype: int64

In [37]:
#Removing outliers from two columns that encompass the entire data set. 

from scipy import stats
df=df[(np.abs(stats.zscore(df['TotalRevenue'])) < 3)]
df=df[(np.abs(stats.zscore(df['Population'])) < 3)]

In [38]:
df['CustomerID'].count()

6981

In [39]:
df.head(2)

,CustomerID,Gender,Age,Married,NumberofDependents,City,ZipCode,Population,NumberofReferrals,TenureinMonths,Offer,PhoneService,AvgMonthlyLongDistanceCharges,MultipleLines,InternetService,InternetType,AvgMonthlyGBDownload,OnlineSecurity,OnlineBackup,DeviceProtectionPlan,PremiumTechSupport,StreamingTV,StreamingMovies,StreamingMusic,UnlimitedData,Contract,PaperlessBilling,PaymentMethod,MonthlyCharge,TotalCharges,TotalRefunds,TotalExtraDataCharges,TotalLongDistanceCharges,TotalRevenue,Churn,ChurnCategory,ChurnReason
0,0002-ORFBO,0,37,1,0,Frazier Park,93225,4498,2,9,None,1,42.39,No,1,Cable,16.00,No,Yes,No,Yes,Yes,No,No,Yes,One Year,1,Credit Card,65.60,593.30,0.00,0,381.51,974.81,0,Unknown,Unknown
1,0003-MKNFE,1,46,0,0,Glendale,91206,31297,0,9,None,1,10.69,Yes,1,Cable,10.00,No,No,No,No,No,Yes,Yes,No,Month-to-Month,0,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,0,Unknown,Unknown

In [40]:
df['Churn'].value_counts()
# 0 = did not exit

Churn
0    5120
1    1861
Name: count, dtype: int64

### Exporting Cleaned Data to a new CSV. This will be used for importing to Machine Learning Model

In [41]:
df.to_csv('CleanedDF.csv', index = False)